.container {
  display: flex;
  align-items: center;
  margin: 25px 50px;
}

.list {
  margin: 20px auto;
  text-align: center;
  font-size: 1.5rem;
}

.list span {
  margin-left: 5px;
  cursor: pointer;
}

.list_active {
  font-weight: bold;
  font-size: 2rem;
}

.buttonBlock {
  flex: 1;
}

.buttonBlock button {
  width: 120px;
  display: inline-block;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.buttonBlock button:hover {
  background-position: right center;
}

.infoBlock {
  flex: 3;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px none black;
  border-radius: 10px;
  background: rgba(255, 245, 215, 0.3);
}
.infoBlock__image {
  flex: 1;
}
.infoBlock__image img {
  width: 50%;
}
.infoBlock__user {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  line-height: 3rem;
  padding: 20px;
}
.infoBlock__user_name {
  font-weight: bold;
  font-size: 1.5rem;
}
.infoBlock__location {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  line-height: 3rem;
}
