.input textarea.error {
  border: 2px solid red;
}

.input h3 {
  color: #f30a0a;
}

.input input.error {
  border: 2px solid red;
}

.loginError {
  padding: 1rem;
  font-weight: bold;
  color: red;
  font-size: 1.5rem;
}

/* .input textarea {
  width: 100%;
  height: 30px;
  background: #f7f7f7;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  border: none;
  resize: none;
  overflow: hidden;
} */
