.header {
  grid-area: header;
  background-color: rgb(74, 97, 172);
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 150px;
}

.link a {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: aliceblue;
}

.userProfile {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.userProfile img {
  width: 50px;
}
