.header {
  grid-area: header;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(185, 150, 186, 0.25);
}

.userProfile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.link {
  width: 40px;
  height: 40px;
  border: 2px solid #1101013b;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  line-height: 40px;
  text-align: center;
}
.link:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.link a {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: #1101013b;
}

.userProfile img {
  width: 40px;
}

.btn {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName {
  color: #9b9b9b;
  font-weight: 500;
}

.socialIMG {
  width: 50px;
  transform: rotate(-45deg);
  margin-left: 15px;
}
