.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 1rem;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}
.dialog img {
  width: 50px;
}
.dialog a {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 10px;
}

.messages {
  width: 500px;
  padding: 1rem;
}

.message:nth-child(even) {
  margin-left: auto;
}

.message {
  box-sizing: border-box;
  height: 50px;
  width: 200px;
  border: 2px solid green;
  border-radius: 10%;
  margin-top: 1rem;
  padding: 10px;
  line-height: 25px;
}

.textArea {
  margin-top: 40px;
}

.textArea button {
  display: block;
}
