.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 1rem;
}

.dialog {
  line-height: 2rem;
  color: wheat;
}
.dialog a {
  color: whitesmoke;
  text-decoration: none;
}

.messages {
  padding: 1rem;
}

.message {
  line-height: 2rem;
}
